<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/dj.css' %}">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/media.css' %}">
    <title>dj</title>
</head>
<body>
    <div class="container-dj">
        <div class="dj">
            <a href="/logIn" class="sound__back">назад</a>
            <p class="dj__title">Dj</p>
            <div class="block__data-name">
                <p class="block__data">10.05<span>сб</span></p>
                <p class="block__name">{{user}}</p>
            </div>
            <div class="dj_moderation mod">
                <p class="mod__title">Заказы ожидающие модерации</p>
                {% if wait_mod %}

                    <ul class="mod__list" id="wait_mod">
                        {% for el in wait_mod %}
                            {% if forloop.last %}
                                <li class="mod__item " >
                                    <a href="{% url 'djView' el.id %}" class="mod__preview items last_item" data-itemid="{{ el.id }}" >
                                        <span class="mod__icon">{{el.table}}</span>
                                        <span class="mod__text">{{el.name}}</span>
                                    </a>

                                </li>
                            {% else %}
                                <li class="mod__item">
                                    <a href="{% url 'djView' el.id %}" class="mod__preview items">
                                        <span class="mod__icon">{{el.table}}</span>
                                        <span class="mod__text">{{el.name}}</span>
                                    </a>

                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="mod__not-text">Лист ожидания пуст</p>
                {% endif %}

            </div>
            <div class="dj__pay pay">
                <p class="mod__title pay__title">Оплаченные заказы</p>
                {% if pay_sounds %}
                    <ul class="mod__list">
                        {% for elem in pay_sounds %}
                        <li class="mod__item">
                            <a href="#" class="mod__preview _js-mod">
                                <span class="mod__icon pay__icon-green">{{elem.table}}</span>
                                <span class="mod__text">{{elem.name}}</span>
                            </a>
                            <div class="mod__popup">
                                <p class="mod__popup-text">Убедитесь , что песня </p>
                                <p class="mod__popup-text red">{{elem.name}}</p>
                                <p class="mod__popup-text"> в  плёй Листе </p>
                                <div class="mod__popup-block">
                                    <a class="mod__popup-btn" href="{% url 'djPlay' elem.id %}">
                                        да
                                    </a>
                                    <a class="mod__popup-btn green _js-no" href="#">
                                        нет
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="dj__info-not">заказов ещё не было</p>
                {% endif %}
            </div>
            <div class="dj__info">
                <p class="mod__title dj__info-title">Последние 5 заказов</p>
                {% if post_sounds %}
                    <ul class="dj__info-list">
                        {% for el in post_sounds %}
                        <li class="dj__info-item">{{el.name}}</li>
                        {% endfor %}

                    </ul>
                {% else %}
                    <p class="dj__info-not">заказов ещё не было</p>
                {% endif %}
                {% if post_sounds_count %}
                    <p class="gj__info-quantity">количество песен за сегодня:<span>{{post_sounds_count}}</span></p>
                {% else %}
                    <p class="dj__info-not">заказов ещё не было</p>
                {% endif%}
            </div>
        </div>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous">
    
</script>
<script src="{% static 'clubbisenes/js/main.js' %}"></script>
<script src="{% static 'clubbisenes/js/ajax_dj.js' %}"></script>
</body>
</html>