<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/media.css' %}">
    <title>sound</title>
</head>
<body>
    <div class="container">

        <div class="sound">
            <div class="table-block table ">
                <a href="{% url 'main' %}" class="sound__back">назад</a>
                <div class="table__number">{{number}}</div>
            </div>

            <form method="post" action="#" enctype="multipart/form-data" class="sound__form">
                {% csrf_token %}
               <p class="sound__label">введите название песни</p>
                {{ sound_form.name }}
               <div class="sound__line"></div>
               <p class="sound__label">или скриншот</p>
                {{ sound_form.file }}
                <div class="sound__line"></div>
                <p class="sound__label">объявление перед песней</p>
                {{ sound_form.description }}
               <div class="sound__line"></div>
                <button class="top__btn" type="submit">заказать</button>
            </form>
        </div>
    </div>

</body>
</html>