<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/media.css' %}">
    <title>sound</title>
</head>
<body>
    <div class="container">

        <div class="sound">
            <a href="/" class="sound__back">назад</a>
            <form action="#" class="sound__form">
                <p class="sound__label">введите название песни</p>
                <input class="sound__label sound__name" type="text" name="soundName" id="soundName" maxlength="200">
                <div class="sound__line"></div>
                <p class="sound__label">или скриншот</p>
                <input class="sound__file" type="file" name="soundFile">
                <div class="sound__line"></div>
                <p class="sound__label">не забудьте указать номер своего стола</p>
                <input type="text" class="sound__label sound__number">
                <div class="sound__line"></div>
                <p class="sound__label">объявление перед песней</p>
                <textarea ></textarea>
                <div class="sound__line"></div>
                <button class="top__btn" type="submit">заказать</button>
            </form>
        </div>
    </div>

</body>
</html>