

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'clubbisenes/css/media.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="test">
            <a href="/logIn" class="sound__back">назад</a>
            <p class="test__text">у вас нет прав доступа</p>
        </div>
    </div>
</body>
</html>